/*Roots*/
:root {
    /*Colors*/
    --main-color: #212121;
    --active-color: #2196F3;
    --gray: #757575;
    --background-color: #2F303A;
    --white: #fff;
    --light-background: #F5F4FA;
    --icons-clr: #AFB1B8;
    /*Transition*/
    --standart-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Global styles*/
body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-color);
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
}

.caption {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*Header*
.header {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header__box {
    display: flex;
    align-items: center;
}

.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    margin-right: 93px;
    transition: color var(--standart-trans);
}

.header__logo:hover,
.header__logo:focus {
    color: var(--active-color);
    transition: color var(--standart-trans);
}

.first-part__logo {
    color: var(--active-color);
}

/*Navigation*
.nav__list, .header-contacts__list{
    gap: 50px;
}

.nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 31px;
    transition: color var(--standart-trans);
}

.nav__link--current::after{
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
}

.nav__link:hover,
.nav__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--active-color);
}

.nav__link--current, .current {
    color: var(--active-color);
}

/*Contacts*
.header-contacts__list {
    margin-left: auto;
}

.header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--gray);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color var(--standart-trans);
}

.header__icon{
    transition: fill var(--standart-trans);
    fill: currentColor;
}

/*Page content*/
/*Hero section*
.hero {
    background-color: #C4C4C4;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bckg.jpg');
}

.hero__caption {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero__btn {
    color: var(--white);
    background-color: var(--active-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    transition: background var(--standart-trans);
}

.hero__btn:hover,
.hero__btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Features*
.features {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__list {
    gap: 30px;
}

.features__item {
    max-width: 270px;
}

.features-icon__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--light-background);
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__descr {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--gray);
}

/*Activity*
.activity {
    padding-bottom: 94px;
}

.activity__list {
    justify-content: space-between;
}

.activity__item{
    position: relative;
}


.activity__label{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
}

/*Team*
.team {
    background-color: var(--light-background);
    padding: 94px 0;
}

.team__list {
    justify-content: space-between;
}

.team__item {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__img {
    margin-bottom: 30px;
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.team__position {
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    color: var(--gray);
    text-align: center;
    margin-bottom: 16px;
}

.social-icons__list {
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.social__icon{
    transition: fill var(--standart-trans);
    fill: currentColor;
}

.social-icons__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icons-clr);
    background-color: var(--white);
    transition: color var(--standart-trans), background var(--standart-trans);
}

.social-icons__link:hover, .social-icons__link:focus{
    color: var(--white);
    background-color: var(--active-color);
}

/*Clients*
.clients{
    padding: 94px 0;
}

.clients__list{
    gap: 30px;
}

.client__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--icons-clr);
    border: 1px solid var(--icons-clr);
    border-radius: 4px;
    transition: color var(--standart-trans), border var(--standart-trans);
}

.client__icon {
    transition: fill var(--standart-trans);
    fill: currentColor;
}

.client__link:hover, .client__link:focus{
    color: var(--active-color);
    border: 1px solid var(--active-color);
}

/*Footer*
.footer {
    background-color: var(--background-color);
    padding: 60px 0;
}
.footer-box{
    display: flex;
    align-items: baseline;
}

.footer__logo {
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    transition: color var(--standart-trans);
}

.footer__logo:hover, .footer__logo:focus{
    color: var(--active-color);
}

.footer-contacts__list {
    display: block;
    margin-top: 20px;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;

}

.footer-contacts__link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white);
    transition: color var(--standart-trans);
}
.footer-contacts__link:hover, .footer-contacts__link:focus{
    color: var(--active-color);
}

.mail,
.phone {
    opacity: 60%;
}

.footer__socials{
    margin-left: 70px;
}

.footer__subtitle{
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-icon__link{
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
}
/*Subscribe*/
.subscribe {
    margin-left: auto;
}

.subscribe__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}

.subscribe__field {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    transition: border var(--standart-trans);
    background-color: transparent;
    color: var(--white);
}
.subscribe__field:focus{
    outline: transparent;
    border: 1px solid var(--active-color);
}


.subscribe__btn {
    position: relative;
    padding: 10px 28px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white);
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    transition: background var(--standart-trans);
}

.subscribe__btn:hover, .subscribe__btn:focus{
    background-color: #188CE8;
}

.subscribe__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
}


/*Portfolio html*/
/*Filters*
.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters__list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filters__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 /16);
    letter-spacing: 0.03em;
    background-color: var(--light-background);
    height: 38px;
    width: 125px;
    transition: color var(--standart-trans), background var(--standart-trans), box-shadow var(--standart-trans);
}

.filters__btn:hover,
.filters__btn:focus {
    color: var(--white);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Projects*
.projects__list {
    gap: 30px;
}

.projects__item {
    flex-basis: 370px;
    width: calc((100% - 2 * 30px) / 3);
}

.projects__link {
    transition: box-shadow var(--standart-trans);
}

.projects__link:hover,
.projects__link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__img {
    display: block;
}

.project__desc{
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 20px 24px;
}

.projects__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects__area {
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--gray);
}

.overlay__wrapper{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--standart-trans);

}

.overlay__text{
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--white);
    padding: 63px 24px;
}

.projects__link:hover .overlay{
    transform: translateY(0);
}

/*Modal window*
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
    transition: opacity var(--standart-trans), visibility var(--standart-trans);
    animation: zoom 1s linear forwards;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    animation: zoom 1s linear forwards;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__icon{
    fill: var(--main-color);
    transition: fill var(--standart-trans);
}

.modal__icon:hover, .modal__icon:focus{
    fill: var(--active-color);
    transition: fill var(--standart-trans);
}

.modal__btn{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__form{
    padding: 40px;

}

.modal__title{
    display: block;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 12px;
}

.signup__form:focus-within .field__input:focus {
    border: 1px solid var(--active-color);
}

.field__input:focus + .signup__icon{
    fill: var(--active-color);
}

.signup__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--gray);
    margin-bottom: 4px;
}

.field__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.field__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border var(--standart-trans);
}

.textarea__input{
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    resize: none;
}

.signup__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--main-color);
    transition: fill var(--standart-trans);
}

.field__input:focus + .signup__icon:focus  {
    fill: var(--active-color);
}

.accept{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.accept__checkbox{
    appearance: none;
    width: 16px;
    height: 15px;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    transition: background var(--standart-trans);
}

.accept__checkbox:checked{
    background-color: var(--active-color);
    border-color: transparent;
    background-size: 11px 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.accept__text{
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--gray);
}

.accept__link{
    text-decoration: underline;
    color: var(--active-color);
}

.accept__btn{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background var(--standart-trans);
}

.accept__btn:hover, .accept__btn:focus{
    background: #188CE8;
}

/*Animations*/

@keyframes zoom {
    0% {
        transform: scale(0.2);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
/* 
