//base styles
@import './base/base';
@import './base/reset';


//component styles
@import './components/header';
@import './components/navigation';
@import './components/hero';
@import './components/features';
@import './components/activity';
@import './components/team';
@import './components/socials-icon';
@import './components/clients';
@import './components/footer';
@import './components/subscribe';
@import './components/modals';
@import './components/filters';
@import './components/projects';




//utils styles
@import './utilis/placeholders';
@import './utilis/variables';

