.clients {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    &-box {
        @extend %container;
    }

    &__caption {
        @extend %caption;
    }

    &__list {
        gap: 30px;
    }

    &__item {
        @media screen and (max-width: 767px) {
            flex-basis: 210px;
            max-width: calc((100% - 1 * 30px) / 2);
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        //width: 210px;
        
        
        height: 92px;
        color: $icons-clr;
        border: 1px solid $icons-clr;
        border-radius: 4px;
        transition: color $standart-trans, border $standart-trans;

        @media screen and (min-width: 768px) {
            width: 226px;
        }

        @media screen and (min-width: 1200px) {
            width: 170px;
        }

        &:hover, &:focus {
            color: $active-color;
            border: 1px solid $active-color;
        }
    }

    &__icon {
        transition: fill $standart-trans;
        fill: currentColor;
    }
}