.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &-box {
        @extend %container;
    }

    &__caption {
        @extend %hidden_cap;
    }
}

.features-list {
    @media screen and (min-width: 768px) {
        gap: 30px;
    }

    &__item {
        max-width: 450px;

        &:not(last-child) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) {
            max-width: 354px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 270px;
        }
    }

    &__title {
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__descr {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: $gray;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 120px;
        background-color: $light-background;
        border-radius: 4px;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            max-width: 354px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 270px;
        }

    }

    
}