.footer {
    background-color: $background-color;
    padding: 60px 0;

    &-box {
        @extend %container;
        display: flex;
        align-items: baseline;
    }

    &__logo {
        color: $white;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        transition: color $standart-trans;

        &:hover, &:focus {
            color: $active-color;
        }
    }

    &-contacts__list {
        display: block;
        margin-top: 20px;
    }

    &-contacts__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &-contacts__link {
        font-style: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: $white;
        @extend %mail_phone;
        transition: color $standart-trans;

        &:hover, &:focus {
            color: $active-color;
        }
    }

    &__socials {
        margin-left: 70px;
    }

    &__subtitle {
        color: $white;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    &-icon__link {
        fill: $white;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

