.footer {
    background-color: $background-color;
    padding: 60px 15px;

    &-box {
        @extend %container;
            display: flex;
            flex-direction: column;
            align-items: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: baseline;
        }
    }

    &__info {
        text-align: center;
        margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
            text-align: left;
            margin-bottom: 0;
        }
    }

    &__logo {
        color: $white;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        transition: color $standart-trans;

        &:hover, &:focus {
            color: $active-color;
        }
    }

    &__socials {
        margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
            margin-left: 70px;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        color: $white;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;

        text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
    
    &-icon__link {
        fill: $white;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.footer-contacts {
    display: block;
    margin-top: 20px;

    &__item:not(:last-child) {
            margin-bottom: 9px;
        }
    
    &__link {
        font-style: normal;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: $white;
        @extend %mail_phone;
        transition: color $standart-trans;

        &:hover,
        &:focus {
            color: $active-color;
        }
    }
}

