.header {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__box {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;

        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        transition: color $standart-trans;

        @media screen and (min-width: 768px) {
            margin-right: 87px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }

        &:hover,
        &:focus {
            color: $active-color;
            transition: color $standart-trans;
        }
    }
}

.header-contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 50px;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: $gray;
        display: flex;
        gap: 10px;
        align-items: center;
        transition: color $standart-trans;

        &:hover,
        &:focus {
            color: $active-color;
        }
    }

    &__icon {
        transition: fill $standart-trans;
        fill: currentColor;
    }
}


.first-part__logo {
    color: $active-color;
}