.nav {
    &__list {
        gap: 50px;
    }

    &__link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 31px;
        transition: color $standart-trans;

        &--current {
            color: $active-color;
        }

        &--current::after {
            display: block;
            position: absolute;
            bottom: 0;
            content: '';
            width: 100%;
            height: 4px;
            background-color: $active-color;
            border-radius: 2px;
        }

        &:hover,
        &:focus {
            color: $active-color;
        }
    }
}
