.social-icons__list {
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.social__icons {
    transition: fill $standart-trans;
    fill: currentColor;
}

.social-icons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icons-clr;
    background-color: $white;
    transition: color $standart-trans, background $standart-trans;

    &:hover, &:focus {
        color: $white;
        background-color: $active-color;
    }
}
