.team {
    background-color: var(--light-background);
    padding: 94px 0;
}

.team__list {
    justify-content: space-between;
}

.team__item {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__img {
    margin-bottom: 30px;
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.team__position {
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    color: var(--gray);
    text-align: center;
    margin-bottom: 16px;
}