/*Roots*/
:root {
    /*Colors*/
    --main-color: #212121;
    --active-color: #2196F3;
    --gray: #757575;
    --background-color: #2F303A;
    --white: #fff;
    --light-background: #F5F4FA;
    --icons-clr: #AFB1B8;
    /*Transition*/
    --standart-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Animations*/



/*Global styles*/
body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-color);
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
}

.caption {
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    z-index: 10;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    margin-right: 93px;
    transition: color var(--standart-trans);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--active-color);
    transition: color var(--standart-trans);
}

.first-part-logo {
    color: var(--active-color);
}

/*Navigation*/
.header-nav-list, .header-contacts-list{
    gap: 50px;
}

.header-nav-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 31px;
    transition: color var(--standart-trans);
}

.header-nav-link.current::after{
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
    border-radius: 2px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--active-color);
}

.current {
    color: var(--active-color);
}

/*Contacts*/
.header-contacts-list {
    margin-left: auto;
}

.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--gray);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color var(--standart-trans);
}

.header-icon{
    fill: currentColor;
}

/*Page content*/
/*Hero section*/
.hero {
    margin-top: 80px;
    background-color: #C4C4C4;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bckg.jpg');
}

.hero-caption {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
    color: var(--white);
    background-color: var(--active-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    transition: background var(--standart-trans);
}

.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Features*/
.features {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    gap: 30px;
}

.features-list-item {
    max-width: 270px;
}

.ficon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--light-background);
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-item-cap {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-item-descr {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--gray);
}

/*Activity*/
.activity {
    padding-bottom: 94px;
}

.activity-list {
    justify-content: space-between;
}

.activity-list-item{
    position: relative;
}


.activity-label{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
}

/*Team*/
.team {
    background-color: var(--light-background);
    padding: 94px 0;
}

.team-list {
    justify-content: space-between;
}

.team-list-item {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-img {
    margin-bottom: 30px;
}

.team-list-member {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.team-list-position {
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    color: var(--gray);
    text-align: center;
    margin-bottom: 16px;
}

.social-icons-list {
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.socials-icon{
    fill: currentColor;
}

.social-icons-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icons-clr);
    background-color: var(--white);
    transition: color var(--standart-trans), background var(--standart-trans);
}

.social-icons-link:hover, .social-icons-link:focus{
    color: var(--white);
    background-color: var(--active-color);
}

/*Clients*/
.clients{
    padding: 94px 0;
}

.clients-list{
    gap: 30px;
}

.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--icons-clr);
    border: 1px solid var(--icons-clr);
    border-radius: 4px;
    transition: color var(--standart-trans), border var(--standart-trans);
}

.client-icon {
    fill: currentColor;
}

.client-link:hover, .client-link:focus{
    color: var(--active-color);
    border: 1px solid var(--active-color);
}

/*Footer*/
.footer {
    background-color: var(--background-color);
    padding: 60px 0;
}
.footer-box{
    display: flex;
    align-items: center;
}

.footer-logo {
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    transition: color var(--standart-trans);
}

.footer-logo:hover, .footer-logo:focus{
    color: var(--active-color);
}

.footer-contacts-list {
    display: block;
    margin-top: 20px;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;

}

.footer-list-link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white);
    transition: color var(--standart-trans);
}
.footer-list-link:hover, .footer-list-link:focus{
    color: var(--active-color);
}

.mail,
.phone {
    opacity: 60%;
}

.footer-socials{
    margin-left: 70px;
}

.footer-subtitle{
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-icon-link{
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
}


/*Portfolio html*/
/*Filters*/
.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    margin-top: 80px;
}

.filters-list-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 /16);
    letter-spacing: 0.03em;
    background-color: var(--light-background);
    height: 38px;
    width: 125px;
    transition: color var(--standart-trans), background var(--standart-trans), box-shadow var(--standart-trans);
}

.filters-list-btn:hover,
.filters-list-btn:focus {
    color: var(--white);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Projects*/
.projects-list {
    gap: 30px;
}

.projects-list-item {
    flex-basis: 370px;
    width: calc((100% - 2 * 30px) / 3);
}


.projects-list-link {
    transition: box-shadow var(--standart-trans);
}

.projects-list-link:hover,
.projects-list-link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-img {
    display: block;
}

.project-descr{
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 20px 24px;
}

.projects-list-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects-list-description {
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--gray);
}

.overlay-wrapper{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--standart-trans);

}

.overlay-text{
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--white);
    padding: 63px 24px;
}

.projects-list-link:hover .overlay{
    transform: translateY(0);
}

/*Modal window*/
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;
    transition: opacity var(--standart-trans), visibility var(--standart-trans);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.modal-icon{
    fill: var(--main-color);
}

.modal-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
