/*Roots*/
:root{
    --main-color: #212121;
    --active-color: #2196F3;
    --gray: #757575;
    --background-color: #2F303A;
    --white: #fff;
    --light-background: #F5F4FA;
}

/*Global styles*/
body{
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-color);
}
.list{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: var(--main-color);
}
.caption{
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
}
/*Header*/
.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}
.first-part-logo {
    color: var(--active-color);
}
/*Navigation*/
.header-nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.header-nav-link:hover, .header-nav-link:focus{
    color: var(--active-color);
}
.current{
     color: var(--active-color);
}
/*Contacts*/
.header-contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--gray);
}
.header-contacts-link:hover, .header-contacts-link:focus{
    color: var(--active-color);
}
    /*Page content*/
/*Hero section*/
.hero{
    background-color: var(--background-color);
}
.hero-caption{
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn{
    color: var(--white);
    background-color: var(--active-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*Features*/
.features-item-cap{
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-item-descr{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--gray);
}
/*Activity*/

/*Team*/
.team{
    background-color: var(--light-background);
}
.team-list-member{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
}
.team-list-position{
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.03em;
    color: var(--gray);
}
/*Footer*/
.footer{
    background-color: var(--background-color);
}
.footer-logo{
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}
.footer-list-link{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white);
}
.mail, .phone{
    opacity: 60%;
}

    /*Portfolio html*/
/*Filters*/
.filters-list-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 /16);
    letter-spacing: 0.03em;
    background-color: var(--light-background);
}
.filters-list-btn:hover, .filters-list-btn:focus{
    color: var(--white);
    background-color: var(--active-color);
}
/*Projects*/
.projects-list-title{
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}
.projects-list-description{
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--gray);
}


